langchain==0.1.0
transformers==4.36.2
tiktoken==0.5.2
matplotlib==3.8.2
seaborn==0.13.1
tqdm==4.66.1
jupyterlab==4.0.10
playwright==1.40.0
html2text==2020.1.16
unstructured==0.12.0
torch==2.1.2
accelerate==0.26.1
ipywidgets==8.1.1
widgetsnbextension==4.0.9
sentence-transformers==2.2.2
faiss-cpu==1.7.4
bitsandbytes==0.42.0
annoy==1.17.3